<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--PERMISOS-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--Hardware (todos opcionales para no excluir dispositivos)-->
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPrueba">

        <!-- Pantalla principal -->
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Explícito 1: Login -> Segundavista (con extras) + intents implícitos -->
        <activity
            android:name=".Segundavista"
            android:exported="false" />

        <!-- Explícito 2: Login -> ConfigActivity (Toolbar con botón Atrás) -->
        <activity
            android:name=".ConfigActivity"
            android:exported="false"
            android:parentActivityName=".Login" />

        <!-- Explícito 3: FormActivity -> ConfirmActivity (con resultado) -->
        <activity
            android:name=".FormActivity"
            android:exported="false"
            android:parentActivityName=".Login" />
        <activity
            android:name=".ConfirmActivity"
            android:exported="false"
            android:parentActivityName=".FormActivity" />
    </application>

</manifest>
